.site-footer {
  background-image: linear-gradient(to right, $red, $red2);
  padding: 2 * $base-spacing 0;
  .container {
    @media screen and (min-width: $medium-screen){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $large-screen){
      flex-wrap: nowrap;
    }
    > div + div  {
      margin-top: 2 * $base-spacing;
      @media screen and (min-width: $medium-screen) {
        margin-top: 0;
        margin-left: $base-spacing;
      }
      @media screen and (min-width: $large-screen) {
        margin-left: 2 * $base-spacing;
      }
    }
  }
}

.site-footer--company {
  flex: 1 1 50%;
  @media screen and (min-width: $large-screen){
    flex: 1 1 120%;
  }
  border-left: $small-spacing/2 solid $base-font-color;
  padding-left: $small-spacing;
  font-weight: 900;
  font-size: modular-scale(1);
  margin-bottom: auto;
  p {
    margin-bottom: 0;
  }
}

.site-footer--social {
  flex: 0 0 auto;
  overflow: auto;
}

.site-footer--links {
  flex: 0 0 auto;
  a {
    display: block;
    font-weight: 700;
    color: $base-font-color;
    line-height: 1.5 * $base-spacing;
  }
}

.site-footer--collaboration {
  flex: 1 1 150%;
  color: white;
  font-size: modular-scale(-1);
  margin-top: $base-spacing;
  @media screen and (min-width: $large-screen){
    padding-left: 6 * $base-spacing;
    margin-top: 0;
    /*** Temporary for site launch ***/
    display: flex;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    .site-footer--collaboration--logos {
      flex: 0 0 50%;
      margin-right: 2 * $base-spacing;
    }
  }
  .site-footer--header {
    font-weight: 700;
    font-size: modular-scale(2);
  }
}

.site-footer--collaboration--logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $base-spacing;
}

.site-footer--collaboration--logos img {
  display: block;
  flex: 1 1 auto;
  margin: auto 0;
  height: auto;
  width: 23%;
  max-width: 6 * $base-spacing;
  + img {
    margin-left: 3%;
  }
  &:last-child {
    width: 48%;
    max-width: 10 * $base-spacing;

  }
}