.site-header {
  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $base-spacing auto;

  }
}

.site-title {
  font-size: modular-scale(2);
  line-height: 1.5 * $base-spacing;
  color: $base-font-color;
  font-weight: 700;
  text-transform: lowercase;
  span {
    color: $turquoise;
  }
  &:hover {
    color: $yellow;

  }
}