.site-header {
  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $base-spacing auto;
  }
}

.site-title {
  font-size: modular-scale(2);
  line-height: $base-line-height;
  color: $base-font-color;
  font-weight: 700;
  word-spacing: -.25em;
  text-transform: lowercase;
  strong {
    color: $turquoise;
  }
}