
.page-header-image, .page-footer-image {
  display: none;
  @media (min-width: $large-screen) {
    display: block;
  }
}

.page-header-image {
  margin-top: 3 * $base-spacing;
}

.page-wrapper {
    @media (min-width: $large-screen) {
      position: relative;
      margin-top: -30vw;
      margin-bottom: -6 * $base-spacing;
      z-index: 99;
      background-color: #fff;
      box-shadow: 0 1em 20em -1em $light-gray;
    }
}


.page-content, .post-content {
  font-size: modular-scale(1);
  padding-bottom: 4 * $base-spacing;
  blockquote {
    @media (min-width: $large-screen) {
      width: 40%;
      float: right;
    }
  }
  h2 {
    font-size: modular-scale(2);
    margin: 2 * $base-spacing 0 $small-spacing;
  }
  h3 {
    margin-top: $base-spacing;
    margin-bottom: 0;
    font-weight: 600;
  }
  ul {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    ul {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }
  li {
    margin-bottom: $small-spacing/2;
    margin-left: 1.5 * $base-spacing;
    list-style-position: outside;
    &::before {
      content: '';
      display: block;
      float: left;
      width: $base-spacing;
      height: $base-spacing;
      margin-top: .3em;
      padding: .3em;
      margin-left: -1.5 * $base-spacing;
      margin-right: $small-spacing;
      background-color: $red;
      background-clip: content-box;
    }
  }
  .pullout-box {
    margin: 2 * $base-spacing 0;
    background-color: $yellow;
    padding: 2 * $base-spacing 3 * $base-spacing;
    h2 + p {
    }
    .button {
      margin-top: $base-spacing;
    }
    .g-recaptcha > div {
      margin: $base-spacing auto;
    }
    &.centre {
      text-align: center;
    }
  }
}

.status {
  margin-top: $base-spacing;
  padding: $base-spacing;
  background-color: $yellow;
}

.page-header, .post-header {
  padding-top: 4 * $base-spacing;
  padding-bottom: $base-spacing;
  overflow: hidden;

  .page-header--inner, .post-header--inner {
    position: relative;
    padding: 2 * $base-spacing 0;
  }
  .container {
    height: 40vh;
    margin-bottom: $base-spacing;
    max-width: $large-screen;

    @media screen and (orientation: landscape) {
      height: 22.5vw;
      max-height: 14em;
    }

    > * {

    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.post-header .container {
  justify-content: flex-end;
}

.page-title, .post-title {
  font-size: modular-scale(5);
  margin-bottom: 0;
}

.page-subtitle {
  margin-top: $base-spacing;
  line-height: $base-line-height;
  font-size: modular-scale(2);
}

.project-date {
  display: inline-block;
  margin: 0 0 $small-spacing;
  font-size: modular-scale(1);
  color: $base-font-color;
  font-weight: 400;
}

.post-meta {
  margin-top: $small-spacing;
  margin-bottom: 0;
}

.post-header {
  padding-bottom: $base-spacing;
}

.post-content {
  padding-top: 0;
}