.person {
  display: flex;
  flex-direction: row;

  &--image {
    width: 6rem;
    height: 6rem;
    max-width: 20vw;
    max-height: 20vw;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    object-fit: cover;
  }

  &--text {
    margin-left: 1rem;
  }

  &--name {
    margin-bottom: 1rem;
  }
}