.person {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  &--image {
    width: 10rem;
    height: 10rem;
    max-width: 20vw;
    max-height: 20vw;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    object-fit: cover;
    border: 1px solid #fefefe;
  }

  &--text {
    margin-left: 1rem;
    flex: 1;
  }

  &--name {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
}