.blog--item {
  display: block;
  display: flex;
  margin: 2 * $base-spacing 0;
  color: $base-font-color;
  flex-direction: row;

  .blog--item--date {
    margin-bottom: $small-spacing;
    font-size: modular-scale(-1);
  }

  .blog--item--title {
    margin-top: 0;
    margin-bottom: $small-spacing;
  }

  .blog--item--excerpt {
    font-size: modular-scale(-1);
  }

  .blog--item--read-more {
    font-size: modular-scale(-1);
  }

  .blog--item--image {
    margin-right: $base-spacing;
    flex: 0 0 35%;
    img {
      display: block;
    }
  }
}