figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

svg {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

iframe[src^="https://www.youtube.com/embed/"]{
  width: 100%;
  height: calc((100vw - #{2 * $base-spacing}) * 0.5625);

  @media screen and (min-width: $medium-screen) {
    height: calc((100vw - #{4 * $base-spacing}) * 0.5625);
  }

  @media screen and (min-width: $large-screen) {
    height: calc(#{$large-screen *  0.5625} - #{8 * $base-spacing * 0.5625 } );
  }
}