// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$xl-screen: 1200px;

// Typography
$base-font-family: "Neue Hans Kendrick CH";
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$turquoise: #218A9C;
$yellow: #F9B529;

$red: #D13D47;
$red2: #D13D47;
$red3: #F2454B;

$light-blue: #E3EDF6;

$black: #191A38;
$light-gray: #D7E6F9;
$medium-gray: #ccc;
$dark-gray: #555;

// Font Colors
$base-font-color: $black;
$action-color: $yellow;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
