<div class="container container--home-about">
  <h2 class="section-heading">{{ include.title | default: 'About us' }}</h2>
    <div class="home-about--wrapper">
      <div class="home-about--item">
        {% include icons/sustainability.svg %}
        <h3 class="home-about--item--header">Sustainability</h3>
        <p class="home-about--item-description">Houses that work with the environment not against it is our key belief, as they play a big role in people’s integration with the environment.</p>
      </div>
      <div class="home-about--item">
        {% include icons/people-powered.svg %}
        <h3 class="home-about--item--header">People-powered</h3>
        <p class="home-about--item-description">Collaborative housing is transparent, open and driven by the needs of people, making not just houses but cohesive, connected communities.</p>
      </div>
      <div class="home-about--item">
        {% include icons/affordability.svg %}
        <h3 class="home-about--item--header">Affordability</h3>
        <p class="home-about--item-description">New housing must meet the needs of everyone, with permanent affordability a priority not an afterthought.</p>
      </div>

      <div class="home-about--item">
        {% include icons/positivity.svg %}
        <h3 class="home-about--item--header">Positivity</h3>
        <p class="home-about--item-description">Our ambitious aims, can-do attitude and ability to solve problems, allows us to achieve innovative and creative solutions to the housing crisis.</p>
      </div>
    </div>
</div>