<div class="container container--home-intro">
    <div class="home-intro--wrapper">
      <div class="home-intro--intro">
        <h2 class="section-heading">We think that houses made by people make better homes.</h2>
        <p>Collaborative Housing provides advice and support that enables groups of people in Oxfordshire to plan, fund and deliver their own housing projects.</p>
        <!-- <a href="/services" class="button">Our services</a> -->
      </div>
      <div class="home-intro--services">
        <div class="home-intro--item">
          <div class="home-intro--item--icon">
            {% include icons/affordability.svg %}
          </div>
          <div class="home-intro--item--text">
            <h3 class="home-intro--item--header">Connect</h3>
            <p class="home-intro--item-description">We bring local groups into contact with housing experts, connecting them to the professional advice and support they need.</p>
          </div>
        </div>
        <div class="home-intro--item">
          <div class="home-intro--item--icon">
            {% include icons/sustainability.svg %}
          </div>
          <div class="home-intro--item--text">
            <h3 class="home-intro--item--header">Finance</h3>
            <p class="home-intro--item-description">We help local groups find and access the financial support they need, from startup grants to long-term loans.</p>
          </div>
        </div>
        <div class="home-intro--item">
          <div class="home-intro--item--icon">
            {% include icons/positivity.svg %}
          </div>
          <div class="home-intro--item--text">
            <h3 class="home-intro--item--header">Advocate</h3>
            <p class="home-intro--item-description">We can share our knowledge of how things work locally and advocate on your behalf to help you get the outcomes you want.</p>
          </div>
        </div>
      </div>
    </div>
</div>