<div class="container container--home-intro">
  <div class="home-intro--wrapper">
    <div class="home-intro--intro">
      <h2 class="section-heading">{{ page.intro.heading }}</h2>
      <p>{{ page.intro.subheading }}</p>
      <a href="{{ page.intro.button.link}}" class="button">{{ page.intro.button.text}}</a>
    </div>
    <div class="home-intro--services">

      {% for item in page.intro.items %}
        <div class="home-intro--item">
          <div class="home-intro--item--icon">
            <img src="{{ item.image }}" />
          </div>
          <div class="home-intro--item--text">
            <h3 class="home-intro--item--header">{{ item.title }}</h3>
            <p class="home-intro--item-description">{{ item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>