<div class="container container--home-about">
  <h2 class="section-heading">{{ include.title | default: page.why_collaborative_housing.heading }}</h2>
    <div class="home-about--wrapper">
    {% for item in page.why_collaborative_housing.items %}
      <div class="home-about--item">
        <img src="{{ item.image }}" />
        <h3 class="home-about--item--header">{{ item.title }}</h3>
        <p class="home-about--item-description">{{ item.subtitle }}</p>
      </div>
    {% endfor %}
  </div>
</div>