---
layout: default
---
<section class="section section--page-header section--page-header__home">
  <div class="container">
    <h1 class="page-title page-title__home">Together we can build homes that work for the Thames Valley</h1>
    {% include svg/hero.svg %}
  </div>
</section>

<section class="section section--home-intro" id="what">
  {% include components/home-intro.html %}
</section>

<section class="section">{% include svg/men-pushing.svg %}</section>

<section class="section section--home-about" id="why">
  {% include components/home-about.html title="Why do we need collaborative housing?" %}
</section>

<section class="section">{% include svg/woman-land.svg %}</section>

{% comment %}
  <section class="section section--home-blog">
    {% include components/home-blog.html title="News" %}
  </section>
{% endcomment %}

<section class="section section--home-signup" id="contact">
  <h2 class="section-heading">Stay in touch</h2>
  <p class="section-subheading">Subscribe to our mailing list to receive updates from us</p>
  <a class="button button__large" target="_blank" href="https://collaborativehousing.us18.list-manage.com/subscribe?u=cad5092a6194557f4e0cd18ba&id=69ef08d93a">Subscribe</a>
</section>