---
layout: default
---
<section class="section section--page-header section--page-header__home">
  <div class="container">
    <h1 class="page-title page-title__home">{{ page.strapline }}</h1>
    {% include svg/hero.svg %}
  </div>
  <a href="#what" class="jump-link">See what we do</a>
</section>

{% if page.announcement.title or page.announcement.description %}
<section class="section section--home-announcement" id="announcement">
  {% include components/home-announcement.html %}
</section>
{% endif %}

<section class="section section--home-intro" id="what">
  {% include components/home-intro.html %}
</section>

<section class="section">{% include svg/men-pushing.svg %}</section>

<section class="section section--home-about" id="why">
  {% include components/home-about.html %}
</section>

<section class="section">{% include svg/woman-land.svg %}</section>

{% assign posttotal = site.posts | size %}

{% if posttotal > 0 %}
  <section class="section section--home-blog">
    {% include components/home-blog.html title="News" %}
  </section>
{% endif %}

<section class="section section--home-signup" id="contact">
  <h2 class="section-heading">Stay in touch</h2>
  <p class="section-subheading">Subscribe to our mailing list to receive updates from us</p>
  <a class="button button__large" target="_blank" href="https://collaborativehousing.us18.list-manage.com/subscribe?u=cad5092a6194557f4e0cd18ba&id=69ef08d93a">Subscribe</a>
</section>

<section class="section">{% include svg/sign-people.svg %}</section>