---
layout: default
---
<section class="section section--page-header section--page-header__home">
  <div class="container">
    <h1 class="page-title page-title__home">Together, we can build homes differently</h1>
    {% include svg/hero.svg %}
  </div>
</section>

<section class="section section--home-intro">
  {% include components/home-intro.html %}
</section>

<section class="section">{% include svg/men-pushing.svg %}</section>

<section class="section section--home-about">
  {% include components/home-about.html title="Why do we need collaborative housing?" %}
</section>

<section class="section">{% include svg/woman-land.svg %}</section>

<!-- <section class="section section--home-blog">
  {% include components/home-blog.html title="News" %}
</section> -->

<section class="section section--home-signup">
  <h2 class="section-heading">Stay in touch</h2>
  <p>Subscribe to our mailing list to receive updates from us</p>
  <a class="button" target="_blank" href="https://oclt.us7.list-manage.com/subscribe?u=705f7de83867afe997c4f8eba&id=c62ef2542a">Subscribe</a>
</section>