.section--home-blog {
  border-bottom: $base-border;
  padding-top: 2 * $base-spacing;
  padding-bottom: 2 * $base-spacing;
  .section-heading {
    text-align: center;
    font-size: modular-scale(3);
    @extend %sr-only;
  }
}

.home-blog--wrapper {
  display: flex;
  flex-direction: row;
}

.home-blog--item {
  display: block;
  margin-bottom: 1.5 * $base-spacing;
  color: $base-font-color;
  + .home-blog--item {
    margin-left: 2 * $base-spacing;
  }
}

.home-blog--item--date {
  margin-bottom: $small-spacing;
  font-size: modular-scale(-1);
}

.home-blog--item--image {
  margin-bottom: $base-spacing;
}