.section--page-header__home {
  height: 80%;
  @media screen and (orientation: landscape) {
    height: 100%;
    // height: calc(100vh - #{4 * $base-spacing});
  }
  position: relative;
}

.page-title__home {
  font-size: modular-scale(5);
  font-weight: 900;
  line-height: $heading-line-height;

  text-align: center;

  @media screen and (orientation: landscape) {
    width: 60%;
    text-align: left;
    width: 50%;
  }
}

.section--home--hero--image {
  position: absolute;
  display: block;

  height: auto;
  width: 200%;
  left: -80%;
  top: 25%;
  z-index: -9;
  @media screen and (orientation: landscape) {
    width: 120%;
    left: -10%;
    @media screen and (min-width: $large-screen) {
      width: 100%;
      left: 0;
      top: 0%;
    }
  }
}