.section--home-intro {
  padding-top: 4 * $base-spacing;
  padding-bottom: 2 * $base-spacing;
  .section-heading {
    font-size: modular-scale(3);
  }
}

.home-intro--wrapper {
  @media screen and (orientation: landscape) {
    display: flex;
    flex-direction: row;
  }
}

.home-intro--intro {
  margin: 0 $base-spacing 2 * $base-spacing;
  text-align: center;
  @media screen and (orientation: landscape) {
    text-align: left;
    flex: 0 0 50%;
    margin: 0;
    margin-right: 2 * $base-spacing;
    @media screen and (min-width: $large-screen) {
      margin-right: 4 * $base-spacing;
    }
  }
  .button {
    margin-top: $small-spacing;
  }
}

.home-intro--item {
  margin: $base-spacing;
  @media screen and (orientation: landscape) {
    margin: 0 0 $base-spacing;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    width: 2 * $base-spacing;
    margin-bottom: $small-spacing/2;
    height: auto;
  }
  @media screen and (min-width: $medium-screen) {
    flex: 1 1 0;
    + .home-about--item {
      margin-left: 1.5 * $base-spacing;
    }
  }
}

.home-intro--item--header {
  margin-bottom: $small-spacing/2;
}

.home-intro--item--icon {
  margin-right: $base-spacing;
}

.section--home--intro--image {
  width: 200%;
  margin-left: -15%;
  @media screen and (orientation: landscape) {
    width: 100%;
    margin-left: 0;
  }
}