.section--home-signup {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  .section-heading {
    font-size: modular-scale(4);
  }
  .section-subheading {
    font-size: modular-scale(1);
    font-weight: 700;
    margin-bottom: $base-spacing;
  }
}